$primary-color: #61c0bd;
$primary-color-hover: #50A09D;
$text-black: #414042;
$text-grey: #5b6172;
$color-base-black: rgb(0,0,0) ;
$color-light:lighten($color-base-black, 54%);
$color-dark:lighten($color-base-black, 15%);
$color-white: rgb(255,255,255);

//Font Family

$font-famiy: 'Work Sans', sans-serif;



