
@charset "utf-8";
@import "import/import";
@import "variables/variables";
// Base-theme overrides.
@import 'overrides';
@import "mixin/mixin";
@import "utilities/utilities";
html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #e6e6e6;
  font-size: 16px;
  height: 100%;
  font-family: $font-famiy;
  transition: all 0.35s cubic-bezier(.61,.05,.16,.93);
}
.row {
  margin-right: 0;
  margin-left: 0;
}
/*** section Common ***/
.s-common {
  position: relative;
  height: 100%;
  padding: 45px 0 45px;
  width: 100%;
  display: block;
  background-color: #f1f2f2;
  overflow: hidden;

  h1 {
    font-size: 64px;
    @extend .fw-400;
    color: $text-black;
  }
}
.s-center {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 45%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0 45px;
}

/*** section Hero ***/
.s-hero {
  background-color: $brand-primary;
  .s-common {
    padding-top: 80px;
  }
  .s-center {
    top: 50%;
  }
  .logo img {
    max-width: 240px;
  }
  p {
    color: $color-white;
  }
}

.s-1 {
  .s-common {
    padding-top: 80px;
  }
  p {
    font-size: 22px;
    color: $text-black;
    margin-bottom: 45px;
  }
  img {
    max-width: 450px;
    width: 100%;
  }
}


.s-services {
  .s-xs-mb {
    margin-bottom: 40px;
  }

  .s-center {
    top: 55%;
  }

  @include respond-to($tablet, max)  {
    h1 {
      margin-top: 0;
    }
  }

  .s-services-icon-bg {
    width: 68%;
    height: 0;
    background-color: $brand-primary;
    border-radius: 50%;
    margin: auto;
    position: relative;
    padding-bottom: 68%;

    @include respond-to($tablet, max)  {
      width: 66px;
      padding-bottom: 66px;
      float: right;
      margin-right: -10px;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 60%;
      color: $color-white;
    }


  }
  h3 {
    text-align: center;
    margin-top: 52px;
    font-weight:300;
    color: $text-black;

    @include respond-to($tablet, max)  {
      margin-top: 20px;
      text-align: left;
    }

  }

}


.next-section {
  position: absolute;
  bottom: 45px;
  width: 100%;
  padding: 0 45px;

  a.btn-next {
    color: $color-white;
    .btn-circle {
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 48px;
      border-radius: 50%;
      border: 2px solid #fff;
      display: inline-block;
    }
    &:hover,
    &:focus {
      color: $color-white;
      text-decoration: none;
    }

  }

  a.primary {
    @extend a.btn-next;
    .btn-circle {
      background-color: $brand-primary;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

  }
  a.dark {
    @extend a.btn-next;
    color: $text-black;
    .btn-circle {
      border-color: $text-black;

    }
    &:hover,
    &:focus {
      color: $text-black;

    }

  }
}


/*Clients Slider*/
.s-clients {
  .s-center {
    top: 50%;
  }
}
.b-slider {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  position: relative;

  input {
    display: none;
  }

  #b-slide1:checked ~ .b-slides .inner {
    margin-left: 0;
  }
  #b-slide2:checked ~ .b-slides .inner {
    margin-left: -35%;
  }
  #b-slide3:checked ~ .b-slides .inner {
    margin-left: -68%;
  }

  @include respond-to($tablet, max) {
    #b-slide1:checked ~ .b-slides .inner {
      margin-left: 0;
    }
    #b-slide2:checked ~ .b-slides .inner {
      margin-left: -100%;
    }
    #b-slide3:checked ~ .b-slides .inner {
      margin-left: -200%;
    }
    #b-slide4:checked ~ .b-slides .inner {
      margin-left: -300%;
    }
    #b-slide5:checked ~ .b-slides .inner {
      margin-left: -400%;
    }
    #b-slide6:checked ~ .b-slides .inner {
      margin-left: -500%;
    }
    #b-slide7:checked ~ .b-slides .inner {
      margin-left: -600%;
    }

  }

  #b-slide1:checked ~ .b-slide-control label:nth-child(2):before,
  #b-slide2:checked ~ .b-slide-control label:nth-child(3):before,
  #b-slide3:checked ~ .b-slide-control label:nth-child(1):before {
    content: '\e875';
    font-family: Linearicons-Free;
    font-size: 16px;
    display: block;
    position: absolute;
    left: -3%;
    font-weight: bold;
  }


  #b-slide1:checked ~ .b-slide-control label:nth-child(3):before,
  #b-slide2:checked ~ .b-slide-control label:nth-child(1):before,
  #b-slide3:checked ~ .b-slide-control label:nth-child(2):before {
    content: '\e876';
    font-family: Linearicons-Free;
    font-size: 16px;
    display: block;
    position: absolute;
    right:  -3%;
    font-weight: bold;
  }

  @include respond-to($tablet, max) {

    #b-slide1:checked ~ .b-slide-indicator label:nth-child(1),
    #b-slide2:checked ~ .b-slide-indicator label:nth-child(2),
    #b-slide3:checked ~ .b-slide-indicator label:nth-child(3),
    #b-slide4:checked ~ .b-slide-indicator label:nth-child(4),
    #b-slide5:checked ~ .b-slide-indicator label:nth-child(5),
    #b-slide6:checked ~ .b-slide-indicator label:nth-child(6),
    #b-slide7:checked ~ .b-slide-indicator label:nth-child(7){
      background-color: rgba(94,107,110,1);
    }
  }


  .b-slides {

    .inner {
      width: 100%;
      white-space: nowrap;
      transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
    }
    article {
      float: none;
      white-space: normal;
      display: inline-block;
      text-align: center;
      @include respond-to($tablet, max) {
        width: 100%;
      }


      a {
        display: inline-block;
      }
      img {
        max-width: 205px;
        width: 100%;
      }

    }


  }

}

.b-slide-control {
  position: absolute;
  width: 100%;
  top: 8%;
  label {
    width: 100%;
    position: absolute;
    cursor: pointer;
    color: $primary-color;

  }

}

.b-slide-indicator {
  width: 100%;
  text-align: center;
  position: relative;
  top: 60px;


  label {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(94,107,110,0.5);
    margin: 0 1px;
    transition: 0.5s;
    cursor: pointer;
  }
}


.s-contact {
  .s-center {
    top: 61%;
  }
  h1 {
    margin-top: 0;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fbfbfb;
    color: $text-black;
    height: 54px;
    font-weight: 300;
    font-size: 22px;
    box-shadow: none;

  }
  .btn-submit {
    height: 54px;
    font-weight: 300;
    font-size: 22px;
    color: $color-white;
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
  p {
    color: $text-black;
    font-weight: 300;
    font-size: 22px;
    margin-top: 25px;
  }
  textarea.form-control {
    height: 165px;
    resize: none;

    @include respond-to($tablet, max) {
      height: 150px;
    }

  }
  .s-c-phone {
    margin-top: 32px;
    margin-bottom: 0;
  }
  .s-c-email {
    margin-top: 0;
    margin-bottom: 32px;

  }
}

.s-map {
  .s-center {
    top: 59%;
    padding: 0;

  }
  .map {
    height: 385px;
    background: url("../images/map.png") no-repeat 50% 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  }
  @include respond-to($tablet, max) {
    .map {
      height: 365px;
    }
  }
  .next-section {
    bottom: 0;
  }

}